* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#glcanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#gridcanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#input-area {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 15px;
    margin-left: 15px;

    width: 20%;
    z-index: 100;

    border: solid #012980 1px;
}

#input-label {
    background-color: #012980;
    padding: 5px;
    padding-left: 10px;
    color: white;
}

#input {
    background-color: white;
}

#footer {
    background-color: #012980;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    z-index: 100;
}

#demo-link {
    text-decoration: none;
    color: white;
}

#demo-link:hover {
    text-decoration: underline;
}